<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>eventbox.io</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link href='//fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/application.css">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
</head>

<body id="dashboard" class="<%= current_path %>">

<div class="dashboard-container">
  <div class="app-info">
    Welcome <%= current_user.name %>! | <a href="/logout">logout</a>
  </div>
  <nav class="primary-navigation">
    <h2>eventbox.io</h2>
    
    <ul>
      <li><a href="#" class="active">Accounts</a></li>
      <!--<li><a href="#">Stats</a></li>-->
      <li><a href="#">News</a></li>
      <li><a href="#">Feedback</a></li>
    </ul>
  </nav>

  <div class="dashboard-content">
    <% unless flash.keys.empty? %>
        <div class="row">
          <div id="flash-container" class="fixed-container">
            <% flash.keys.each do | key | %>
              <div class="alert alert-<%= key %>"><%= flash[key] %></div>
            <% end %>
          </div>
      </div>
    <% end %>
    <%= yield %>
  </div>
</div>
<div class="topbar-style"></div>
<div class="sidebar-style"></div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</body>
</html>